* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(101, 196, 231);
}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
}

.box {
    width: 70vw;
    max-width: 500px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    
    background-color: rgb(232, 241, 244);
    
    box-shadow: 5px 5px 20px rgba(41, 79, 93, 0.677);
}

button {
    border: none;
    outline: none;
    box-shadow: none;
}

header {
    display: flex;
    flex-direction: row;

    width: 100%;

    box-shadow: 0px 3px 5px rgba(207, 215, 218, 0.904);
}

header input, header input:active {
    border: none;
    outline: none;
}

header input {
    padding: 2%;
    width: 100%;

    font-size: 1.3rem;
}

header input::placeholder {
    color: rgb(180, 180, 180);
    font-style: italic;
    font-weight: 200;
}


header button {
    padding: 2%;
    width: 15%;
    background-color: rgb(229, 229, 229);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: fit-content;
}

main ul {
    list-style: none;

    width: 100%;
    height: fit-content;
    max-height: 75vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0em;
}

main ul li {
    width: 90%;
    margin: 0 auto;
    padding: 1% 0 1%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(207, 215, 218, 0.904);
}

.task-text {
    width: fit-content;
}

main .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

main button {
    background-color: transparent;
    margin-left: 3%;
    cursor: pointer;
}

.checked {
    color: rgb(180, 180, 180);
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

footer {
    background-color: transparent;
    font-size: small;
}

address {
    display: inline;
    font-size: small;
}